{% include "base2.html" %}
<a href="{% url 'disciplinas:create' %}" class="btn btn-primary">Adicionar Disciplina</a>
{% block content %}
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: left;
    }
    $(window).resize(function() {
        if ($(window).width() < 600) {
            // Código para executar quando a largura da janela é menor que 600px
            console.log("A largura da janela é menor que 600px.");
        } else {
            // Código para executar quando a largura da janela é maior que 600px
            console.log("A largura da janela é maior que 600px.");
        }
    });
    td {
        word-wrap: break-word;
    }
    
    
    </style>
  <h1>Disciplinas</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Disciplina</th>
        <th>Carga Horária</th>
        <th>Professor(a)</th>
        <th>Ações</th>
        
      </tr>
    </thead>
    <tbody>
      {% for Disciplina in disciplinas %}
        <tr>
          <td>{{ Disciplina.id }}</td>
          <td>{{ Disciplina.nome }}</td>
          <td>{{ Disciplina.cargaHo }}</td>
          <td>{{ Disciplina.professor }}</td>
          <td> <!-- Adicionado célula para ações -->
            <a href="{% url "disciplinas:update" Disciplina.id %}">Editar</a> -
            <a href="{% url 'disciplinas:delete' Disciplina.id %}">Apagar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
