{% include "base2.html" %}
<a href="{% url 'matriculas:create' %}" class="btn btn-primary">Nova Matrícula</a>

{% block content %}
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: left;
    }
    $(window).resize(function() {
        if ($(window).width() < 600) {
            // Código para executar quando a largura da janela é menor que 600px
            console.log("A largura da janela é menor que 600px.");
        } else {
            // Código para executar quando a largura da janela é maior que 600px
            console.log("A largura da janela é maior que 600px.");
        }
    });
    td {
        word-wrap: break-word;
    }
    
    
    </style>
  <h1>Matriculas</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Aluno</th>
        <th>Turma</th>
        <th>Ano Letivo</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for Matricula in matriculas %}
        <tr>
          <td>{{ Matricula.id }}</td>
          <td>{{ Matricula.aluno }}</td>
          <td>{{ Matricula.turma }}</td>
          <td>{{ Matricula.ano_letivo }}</td>
          <td>{{ Matricula.data_matricula }}</td>
          <td> <!-- Adicionado célula para ações -->
            <a href="{% url 'matriculas:update' Matricula.id %}">Atualizar</a>  <!-- Link para atualizar o aluno -->
            <a href="{% url 'matriculas:delete' Matricula.id %}">Apagar</a> <!-- Link para apagar o aluno -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
