{% include "base2.html" %}
<a href="{% url 'professores:create' %}" class="btn btn-primary">Professor Novo</a>
{% block content %}
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: left;
    }
    $(window).resize(function() {
        if ($(window).width() < 600) {
            // Código para executar quando a largura da janela é menor que 600px
            console.log("A largura da janela é menor que 600px.");
        } else {
            // Código para executar quando a largura da janela é maior que 600px
            console.log("A largura da janela é maior que 600px.");
        }
    });
    td {
        word-wrap: break-word;
    }
    
    
    </style>
  <h1>Professores</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Data de nascimento</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
        
      </tr>
    </thead>
    <tbody>
      
      {% for Professor in professores %}
        <tr>
          <td>{{ Professor.id }}</td>
          <td>{{ Professor.nome }}</td>
          <td>{{ Professor.disciplina }}</td>
          <td>{{ Professor.data_de_nasc }}</td>
          <td>{{ Professor.telef }}</td>
          <td>{{ Professor.email }}</td>
          <td> <!-- Adicionado célula para ações -->
            <a href="{% url 'professores:update' Professor.id %}">Atualizar</a>  <!-- Link para atualizar o aluno -->
            <a href="{% url 'professores:detail' Professor.id %}">Detalhes</a> 
            <a href="{% url 'professores:delete' Professor.id %}">Apagar</a> <!-- Link para apagar o aluno -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
